Используя XGBOOST, предсказать размер чаевых в датасете TIPS

In [3]:
import pandas as pd
import os
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing


FILEPATH = 'C:/Users/yuliya.tetereva/python/tips.csv'
check_path = os.path.isfile(FILEPATH)
df = None
if check_path:
    df = pd.read_csv(FILEPATH)
    
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
conda install -c mndrake xgboost

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\yuliya.tetereva\Anaconda3

  added / updated specs:
    - xgboost


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _py-xgboost-mutex-2.0      |            cpu_0          12 KB
    conda-4.12.0               |   py39haa95532_0        14.5 MB
    libxgboost-1.5.0           |       hd77b12b_1         1.3 MB
    py-xgboost-1.5.0           |   py39haa95532_1         171 KB
    xgboost-1.5.0              |   py39haa95532_1          26 KB
    ------------------------------------------------------------
                                           Total:        16.0 MB

The following NEW packages will be INSTALLED:

  _py-xgboost-mutex  pkgs/main/win-64::_py-xgboost-mutex-2.0-cpu_0
  libxgboost         pkgs/main/win-64::libxgboost-1.5.0-hd77b12b_1
  py-xgboost         pkgs/main/win-64::py-xgboost-1.5.0-py39haa95532_1
  xgboost            pkgs/main/win-64::xgboost-1.5.0-py39haa95532_1

The following packages will be UPDATED:

  conda                               4.10.3-py39haa95532_0 --> 4.12.0-py39haa95532_0



Downloading and Extracting Packages

conda-4.12.0         | 14.5 MB   |            |   0%
conda-4.12.0         | 14.5 MB   | 1          |   2%
conda-4.12.0         | 14.5 MB   | 8          |   9%
conda-4.12.0         | 14.5 MB   | #6         |  16%
conda-4.12.0         | 14.5 MB   | ##3        |  23%
conda-4.12.0         | 14.5 MB   | ###        |  30%
conda-4.12.0         | 14.5 MB   | ###7       |  38%
conda-4.12.0         | 14.5 MB   | ####5      |  46%
conda-4.12.0         | 14.5 MB   | #####4     |  54%
conda-4.12.0         | 14.5 MB   | ######2    |  62%
conda-4.12.0         | 14.5 MB   | #######    |  70%
conda-4.12.0         | 14.5 MB   | #######8   |  78%
conda-4.12.0         | 14.5 MB   | ########6  |  86%
conda-4.12.0         | 14.5 MB   | #########3 |  94%
conda-4.12.0         | 14.5 MB   | ########## | 100%

py-xgboost-1.5.0     | 171 KB    |            |   0%
py-xgboost-1.5.0     | 171 KB    | ########## | 100%

xgboost-1.5.0        | 26 KB     |            |   0%
xgboost-1.5.0        | 26 KB     | ########## | 100%

_py-xgboost-mutex-2. | 12 KB     |            |   0%
_py-xgboost-mutex-2. | 12 KB     | ########## | 100%

libxgboost-1.5.0     | 1.3 MB    |            |   0%
libxgboost-1.5.0     | 1.3 MB    | #####3     |  53%
libxgboost-1.5.0     | 1.3 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

Закодируем все строковые признаки

In [4]:
le = preprocessing.LabelEncoder()
df.day = le.fit_transform(df.day)

df['sex'] = df['sex'].apply(lambda x: int(x == "Male"))
df['smoker'] = df['smoker'].apply(lambda x: int(x == "Yes"))
df['time'] = df['sex'].apply(lambda x: int(x == "Dinner"))

df

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

Будем предсказывать чаевые по всем остальным полям датасета.

In [14]:
X = df.drop('tip', axis=1)
y = df['tip']

X_train, X_test, y_train, y_test = train_test_split(X, y)

regressor = xgb.XGBRegressor(n_estimators=100, reg_lambda=1, gamma=0, max_depth=3)

regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
y_pred

array([2.0399187, 2.142514 , 2.6768746, 2.1646829, 2.150742 , 2.97933  ,
       4.479898 , 1.9294642, 3.4170473, 3.1595764, 4.638547 , 3.0193686,
       3.3953135, 1.9510008, 2.1294475, 1.9735163, 3.1595764, 2.9778697,
       2.4736414, 3.4417734, 1.9283102, 3.6374764, 1.5255767, 2.315605 ,
       2.015667 , 2.142514 , 2.0052001, 2.8136911, 3.1651206, 3.3812804,
       3.317699 , 2.7659938, 1.9923279, 2.0573733, 2.1030273, 2.1294475,
       2.4724386, 4.2968593, 3.5015302, 3.251426 , 1.5319545, 2.1696272,
       4.1220474, 2.808294 , 6.021959 , 3.2530277, 2.3712978, 2.4769814,
       3.2584605, 4.8455334, 3.0669525, 3.1925797, 3.115656 , 2.7542791,
       2.1691704, 2.8925982, 3.3183897, 2.6064963, 2.3278823, 1.9008783,
       1.6810716], dtype=float32)

Среднеквадратичная ошибка

In [15]:
mean_squared_error(y_test, y_pred)

0.9671803328607339